<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" preserve-order="true">
	<test name="Test">
		<classes>
			<class name="testCases.TC001ExecuteWithOutPOM" />
			<class name="testCases.TC002ExecuteWithPOM" />
			<class name="testCases.TC003ExecuteWithPageFactory" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
